:root {
    --standard-box-shadow: rgb(156, 156, 156) 1px 1px 5px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    
    height: 65px;
    box-shadow: var(--standard-box-shadow);
    padding: 0px 15px;
}

#page-title {
    flex: 1;

    font-size: 1.6rem;
    font-weight: 700;
}

/* TODO: Add styles for todo components */